/* about.css */

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-card {
    cursor: pointer;
    margin-bottom: 20px;
    width: 70%;
    border: 1px solid #006aa7; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 6px 12px rgba(0, 106, 167, 0.4); 
    transition: transform 0.3s, box-shadow 0.3s;
}

.about-card:hover {
    transform: scale(1.02); 
    box-shadow: 0 12px 24px rgba(0, 106, 167, 0.6);
    background-color: #f6e3b2; 
}

.about-page {
    color: #006aa7; 
    padding: 20px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
}

.about-body {
    text-align: justify; 
    padding: 20px;
    background-color: #006aa7; 
    color: #f7f3e9; 
    display: none;
    overflow: hidden;
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px;
}

.active_about .about-page:after {
    content: "\25B2"; /* Up arrow icon */
}

#about-heading {
    color: #006aa7; 
    text-align: center; 
    margin-bottom: 20px; 
}

.about-page:after {
    content: "\25BC"; 
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.animated-icon {
    margin-left: 10px;
}
