/* Admin Styles */
.admin-page {
    text-align: center;
    margin-top: 50px;
}

.admin-page h3 {
    font-size: 36px;
    color: #2c3e50; /* Dark blue-gray text color */
    margin-top: 40px;
}

.admin-page .searchUsers {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add space between items */
}

.admin-page form {
    display: flex;
    align-items: center;
}

.admin-page input[type="text"] {
    flex-grow: 1; /* Adjust the width of the input */
    margin-right: 10px; /* Add space between input and button */
}

.admin-page h4 {
    font-size: 18px;
    color: #7f8c8d; /* Medium gray text color */
}

.admin-page h5 {
    font-size: 16px;
    color: #7f8c8d; /* Medium gray text color */
}

.admin-page .user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user h5{
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    flex-direction: column;
}

.admin-page .button {
    background-color: #ff0000; /* Red button background */
    color: #f7f3e9; /* Dark text color */
    /*padding: 10px 20px; /* Adjusted padding */
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Added transform for hover animation */
    margin-top: 5px; /* Adjusted margin to center vertically with h5 */
}

.admin-page .button:hover {
    background-color: #d60000; /* Darker red on hover */
    transform: scale(1.05); /* Add scaling effect on hover */
    color: #f7f3e9; /* Dark text color */
}

.show-users span {
    font-size: 18px;
    color: #6e7474;
    font-weight: bold;
}

.show-users span:hover {
    color: #000000;
}

.search-bar{
    flex-grow: 1; /* Allow the search bar to grow and take available space */
}

.search-bar button{
    margin-bottom: 15px;
}

.current-users{
    margin-bottom: -30px;
}

admin-page .current-users,
.admin-page .current-projects {
    margin-top: 30px; /* Adjust the margin for spacing */
}

.admin-page .current-projects {
    border-top: 1.5px solid #ccc; /* Add a 2px solid border on the top */
}

.admin-page .current-projects {
    padding-top: 30px; /* Adjust padding for spacing */
}


.admin-page .show-projects .user h4 {
    font-size: 20px; 
    font-weight: bold;
}

.admin-page .show-projects .user h4:hover {
    color: #000000;
}

.deleteOrBlock{
    display: flex;
    gap:20px
}

.addUser-link {
    text-decoration: none;
    color: #fff;
}

.addUserButton {
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #3490dc;
    color: #fff;
    border: none;
    cursor: pointer;
}

.linksToPage {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

.admin-page .current-projects .show-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.admin-page .current-projects .show-projects .project {
    width: calc(25% - 20px);
    margin: 0 10px 20px;
    box-sizing: border-box;
}

.admin-page .current-users .show-users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.admin-page .current-users .show-users .user {
    width: calc(50% - 20px);
    margin: 0 10px 20px;
    box-sizing: border-box;
}

.admin-page .current-projects .show-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.admin-page .current-projects .show-projects .project {
    width: calc(20% - 30px);
    margin: 0 10px 20px 30px;
    box-sizing: border-box;
}

.profile-image img {
    width: 15%;
    height: auto;
    border-radius: 50%; /* Make the image circular */
    border: 3px solid #fff; /* Add a white border */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
    aspect-ratio: 1 / 1; /* Ensure a perfect circle */
    margin-bottom: 4px;
}
