body {
  background-color: #f7f3e9; /* Bright beige background */
  color: #172b4d; /* Dark text color */
}

main > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006aa7; /* Blue header background */
  padding: 1em;
  margin: 0; /* Set margin to 0 */
}

main > header h1 {
  margin: 0;
  font-size: 1.8rem; /* Adjust font size */
  color: c; /* White text color */
}

#cards article.card {
  background-color: #f7f3e9; /* White card background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

#cards article.card header {
  background-color: #006aa7; /* Blue header background for cards */
  color: #f7f3e9; /* White text color for card headers */
}

#cards article.card li label a {
  color: #0079bf; /* Blue color for links in cards */
}

#content > form {
  background-color: #f7f3e9; /* White form background */
  border: 1px solid #f6e3b2; /* Light gray border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

#content > form input {
  background-color: #f6e3b2; /* Light gray input background */
}

button,
a.button,
a.button.button-outline,
a {
  color: #172b4d; /* Set text color for buttons and links */
}

button,
a.button {
  background-color: #006aa7; /* Blue button background */
  border-color: #006aa7; /* Blue button border color */
}

a.button.button-outline {
  color: #006aa7; /* Blue color for button outlines */
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #006aa7; /* Blue border color for focused inputs */
}

a.button {
  color: white;
}
