.backButton h3 a{
    color: #172b4d;
    margin-right: 10px;
}

div.backButton {
    width: 50%;
    margin: auto;
    margin-top: 5px;
    text-align: start;
}

.ForumBody{
    text-align: center;
    justify-content: center;
}

.createPost{
    width: 50%;
    margin: auto;
}

.listOfPosts{
    width: 50%;
    margin: auto;
    align-items: left;
    word-wrap: break-word;
    padding: 0px;
}

div.preview{
    word-wrap: break-word;
    width: 95%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    padding-bottom: 20px;
    padding-top: 10px;
}

div.upvote-downvote{
    width: 5%;
    align-items: center;
    text-align: center;
    padding-top: 7px;
}

li.post{
    background-color: #172b4d;
    border-radius: 7px;
}

div.preview:hover{
    background-color: #006AA7;
    border-radius: 7px;
}

.listOfPosts ul{
    width: 100%;
    list-style: none;
}

span.upvotes-count{
    color: white;
}

.listOfPosts h3, p{
    color: white;
}

.listOfPosts div.preview p.header{
    margin-bottom: 0px;
}

p.noPosts{
    color: black
}

.upvote-button-pressed{
    color: orange;
    background-color: transparent;
    border: none;
}

.downvote-button-pressed{
    color: #6903f9;
    background-color: transparent;
    border: none;
}

.upvote-button, .downvote-button{
    color:white;
    background-color: transparent;
    border: none;
}

form.upvote{
    margin-bottom: -10px;
}

.upvote-button, .downvote-button,.upvote-button-pressed, .downvote-button-pressed{
    font-size: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.upvotes-count{
    font-size: 20px;
}

li.post{
    align-items: start;
    text-align: start;
    word-wrap: break-word;
}


.post_content_preview{
    display: flex;
}

.search-bar{
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.search-bar p{
    color: white;
}

.filters{
    display: flex;
}

.filters label{
    margin-right: 10px;
}

.searchBarFlex{
    display: flex;
}

.createPost{
    background-color: #172b4d;
    padding: 1px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.createPost p, h4{
    color:white;
}

.createPost p{
    font-size: 20px;
}

.createPost .button{
    margin-bottom: 0px;
}

.createPost .post-form{
    color: black;
    width: 95%;
    background-color: white;
}

.createPost .title-form {
    width: 95%;
    background-color: white;
}

.search-bar .searchPosts{
    width: 95%;
    background-color: white;
}




