/* Modern Home Styles */
.modern-home {
    text-align: center;
    margin-top: 50px;
}

.modern-home h1 {
    font-size: 36px;
    color: #2c3e50; /* Dark blue-gray text color */
}

.modern-home p {
    font-size: 18px;
    color: #7f8c8d; /* Medium gray text color */
    margin-bottom: 20px;
}

.modern-home .button {
    background-color: #006aa7; /* Bright beige button background */
    color: #f7f3e9; /* Dark text color */
    padding: 10px 20px; /* Adjusted padding */
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Added transform for hover animation */
    display: inline-flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.modern-home .button:hover {
    background-color: #ffe4b5; /* Lighter beige on hover */
    transform: scale(1.05); /* Add scaling effect on hover */
    color: #172b4d; /* Dark text color */
}
