.confirmation-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7f3e9;
    background-color: #172b4d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100000;
}

.orphan-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7f3e9;
    background-color: #172b4d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100000;
}

.confirmation-popup p,
.orphan-popup p {
    margin-bottom: 15px;
}
  
.confirmation-popup button,
.orphan-popup button {
    margin-right: 10px;
}
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adjust the transparency as needed */
    filter: blur(5px);
    backdrop-filter: blur(0px);
    z-index: 9999; /* Adjust the z-index to ensure it's on top of other elements */
}

.larger-toast {
    font-size: 22px;
}

.larger-header {
    font-size: 28px;
}

.larger-body {
    font-size: 20px;
}
