.backButton h3 a{
    color: #172b4d;
    margin-right: 10px;
}

div.backButton {
    margin: auto;
    margin-top: 5px;
    text-align: start;
    align-items: baseline;
}

.Body{
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.upvote-downvote{
    margin-top: 6px;
    margin-right: 5px;
    color: white;
}

.upvote-button, .downvote-button,.upvote-button-pressed, .downvote-button-pressed{
    font-size: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.upvote-button-pressed{
    color: orange;
    background-color: grey;
    border: none;
}

.downvote-button-pressed{
    color: #6903f9;
    background-color: transparent;
    border: none;
}

.upvote-button, .upvote-button-pressed{
    margin-bottom: -23px;
}

.upvote-button, .downvote-button{
    color:white;
    background-color: transparent;
    border: none;
}

.postHeader{
    background-color: #172b4d;
    padding-left: 10px;
    border-radius: 10px;
}

.postHeader .upvotes-count{
    font-size: 20px;
}

form.upvote{
    margin-bottom: -10px;
}

.postHeader, .author{
    display: flex;
}

.author p{
    margin-right: 10px;
}

.postInfo{
    text-align: start;
    padding-right: 10px;
    padding-left: 10px;
}

.postInfo p, .postTitle h3{
    color: white;
}

.postInfo .author p{
    margin-bottom: 0px;
}

.postSettings{
    align-items: baseline;
    text-align: start;
    margin-top: 10px;
}

.alterPostOptions{
    background-color: #172b4d;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    padding: 10px;
}

.alterPostOptions p, h3.title{
    color: white;
}

.post-form-textarea, .comment-form-textarea{
    background-color: white;
    border-radius: 5px;
}

.deletePost .deleteButton{
    background-color: #F7F3E9;
    font-size: 16px;
    margin-bottom: 0px;
}

#toggle_post_edit{
    margin-top: -5px;
    background-color: #172b4d;
    font-size: 12px;
    color: white;
}

.showComments{
    text-align: start;
}

.showComments p.commentCount, .showComments p.noComments{
    color: #172b4d;
    font-size: 24px;
}

div.showComments div.commentCard{
    background-color: #172b4d;
}

.showComments #toggle_comment_edit{
    background-color: #F7F3E9;
    font-size: 12px;
    color: #172b4d;
    text-align: start;
}

.showComments p, h4.edit{
    color: white;
    text-align: start;
}

.createComment{
    align-items: baseline;
    text-align: start;
}

.createComment .createPost{
    background-color: #172b4d;
    font-size: 12px;
    color: white;
}

.createComment h3{
    text-align: start;
}
