section#project {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: calc(100vh - 96px); */
}

.project-info-card, .task-card{
    /* background-color: #006aa7; */
    color: #f7f3e9;
    padding: 0;
    border-radius: 8px;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    margin: 0px;
    /* margin-top: 0px; */
    text-align: center;
    /* box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2); */
    
}

.project-info-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#project-settings-container, div#create-task-container {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -8%);
    max-width: 60%;
    max-height: 60vh;
    margin-top: 10px;
}


div#project-settings-container form.project-form {
    margin: 0 60px; /* Adjust the margin value as needed */
}

.exit-button2{
    margin-right: 75px;
}



div#project-settings-container h2{
    margin-top: 5px;
}

/* 
    removed animations for this card since they don't 
    play nice with the modal overlay of some popups 
*/ 
/* #project-info-card:hover {
    transform: scale(1.05);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
} */

#project-info-card h2 {
    margin-bottom: 10px;
}

#project-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 50px;
    position: relative;
    width: 60%;
}

.link {
    /* background-color: #f7f3e9;
    color: #172b4d;
    border: solid;
    border-radius: 8px;
    padding-top: 20px;
    border-color: #172b4d;
    border-width: 3px;
    width: 150px;
    margin-bottom: 20px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center; */
}

.link:hover {
    background-color: #a79c8b;
}

.link a {
    color: #172b4d;
    text-decoration: none;
}

.link i {
    margin-bottom: 5px;
    color: #172b4d;
    font-size: 24px;
}

#invite-users-container {
    overflow: hidden;
}

#project-members-card,
#invited-users-card {
    background-color: #f7f3e9;
    color: #172b4d;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    width: 60%;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#project-members-card:hover,
#invited-users-card:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

#project-members h3,
#invited-users-card h3 {
    margin-bottom: 10px;
}

#project-member-list,
#invited-users-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

#project-member-list li,
#invited-users-list li {
    margin-bottom: 2px;
}

#close-user-invite {
    margin-right: 20px;
}

#close-user-invite {
    margin-left: 405px;
    cursor: pointer;
}

#text-container {
    margin-top: 10px; /* Adjust as needed */
}

#invite-members-p {
    margin: 0;
    text-align: center;
}

.user-list-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    color: #f7f3e9;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 4px;
    margin: 0px;
    transition: background-color 0.3s; 
    cursor: pointer;
    font-size: 14px;
}

.user-list-card:hover {
    background-color: #4a4a4a;
}

.user-list-content {
    display: flex;
    align-items: center;
}

#favorite-button-container {
    font-size: 26px;
    margin-top: 5px;
    color: #172b4d;
    font-weight: bold;
}

#favorite-button-container i {
    font-size: 24px;
    margin: 0px;
    margin-right: 5px;
}

#favorite-button-container form {
    margin: 0px;
}

/* #favorite-button, .archive-button, .project-submit-button{
    background-color: #172b4d;
    color: #f7f3e9;
    cursor: pointer;
} */

#changes-button:hover, .archive-button:hover, .project-submit-button:hover{
    color: #172b4d;
    background-color: #f7f3e9; 
    cursor: pointer;
}

#changes-button, .archive-button, .exit-button, div#create-task-container button{
    background-color: #172b4d;
    color: #f7f3e9;
    top: 15%;
    left: 0%;
    
    max-height: 80vh;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.project-submit-button {
    background-color: #172b4d;
    color: #f7f3e9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#changes-button:hover,
.archive-button:hover,
.project-submit-button:hover, .exit-button:hover, div#create-task-container button:hover {
    color: #172b4d;
    background-color: #f7f3e9; 
    cursor: pointer;
    transform: background-color 0.3s ease-in-out; /* Add this line to remove the scaling effect on hover */
}

.project-submit-button:hover {
    color: #172b4d;
    background-color: #f7f3e9; 
    cursor: pointer;
}

.top-left-buttons {
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
}

.title h2{
    margin-left: 320px;
}

.archive-button,
#changes-button {
    margin-left: -22px;
}


#create-task-container .button {
    background-color: #172b4d;
    color: #f7f3e9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#create-task-container button:hover {
    background-color: #f7f3e9;
    color: #172b4d;
}

#changes-button{
    margin-left: -150px;
}

.exit-button{
    margin-right: -970px;
}

.remove-member-button {
    background-color: #172b4d;
    color: #f7f3e9;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-member-button i {
    font-size: 24px;
}

.remove-member-button:hover i {
    transform: scale(1.05);
}

#addMemberForm {
    background-color: #172b4d;
    color: #f7f3e9;
    padding: 10px;
    border-radius: 8px;
    margin: 20px auto;
    width: 450px; 
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#searchInput{
    margin-top: 20px;
    width: 200px;
    background-color: #f7f3e9;
    color: #172b4d;
}

#addMemberForm:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

#addMemberForm input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 80%;
}

ul#searchResults {
    list-style-type: none;
    padding: 0;
    overflow: auto;
    max-height: 50vh;
}

#searchResults li {
    /* maybe add some styles later but the current ones suck lol */
    /* background-color: #f7f3e9;
    color: #172b4d; */
    /* padding: 10px; */
    /* border-radius: 5px; */
    /* margin-bottom: 5px; */
}

#tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

.task-card {
    background-color: #006aa7;
    color: #f7f3e9;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -8%);
    max-width: 50%; /* Adjust the width as needed */
    max-height: 49vh;
    margin-top: 10px;

}

.task-card:hover {
    box-shadow: 0 16px 32px rgba(23, 43, 77, 0.2);
}

.task-card h3 {
    margin-bottom: 10px;
}

.task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    font-weight: bold;
    margin-right: 10px;
}

.task-form input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #172b4d;
    width: 80%;
    background-color: #f7f3e9;
    color: #172b4d;
}

.task-form button {
    background-color: #172b4d;
    color: #f7f3e9;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task-form button:hover {
    background-color: #006aa7;
}

.search_task {
    margin-top: 20px;
}

.search_task label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#search_task_input {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 12px;
    border: 2px solid #172b4d;
    background-color: #f7f3e9;
    color: #172b4d;
    width: 300px;
}

#search_task_results {
    list-style-type: none;
    padding: 0;
}

#search_task_results li {
    background-color: #006aa7;
    color: #f7f3e9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#tasks button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #172b4d;
    color: #f7f3e9;
    padding: 20px 28px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#tasks button i {
    color: #f7f3e9;
    font-size: 30px;
    margin-top: -2px;
}

#tasks button:hover {
    background-color: #172b4d;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.project_description_area{
    background-color: #f7f3e9;
    min-height: 105px;
}

input.project_delivery_date{
    background-color: #f7f3e9;
}

.projectDescriptionCard{
    word-wrap: break-word;
}

#project-settings-activate {
    font-size: 30px;
    height: 30px;
    color: #172b4d;
}

#project-settings-activate:hover {
    cursor: pointer;
}

.scales-on-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.scales-on-hover:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#forumLinkContainer {
    font-size: 26px;
    margin-top: 5px;
    color: #172b4d;
    font-weight: bold;
}

#forumLinkContainer i {
    font-size: 26px;
}

.opaque-project-container {
    background-color: #006aa7;
    color: #f7f3e9;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 95%;
    margin: 0px;
    margin-top: 0px;
    text-align: center;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}


