#content {
    display: grid;
    grid-template-columns: 70px 1fr 240px;
    grid-template-rows: auto;
    grid-template-areas: "sidebar content members";
    /* height: calc(100vh); */
    margin: 0;
    z-index: 1000;
}

.members-sidebar {
    grid-area: members;
    background-color: #333;
    color: #fff;
    padding: 10px;
    z-index: 10000;
}

.sidebar {
    grid-area: sidebar;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.sidebar img {
    max-width: 100%;
}

.nav-menu {
    margin-top: 20px;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.sidebar .nav-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.sidebar .nav-menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.content {
    grid-area: content;
    padding: 20px;
}

.side-bar-icon {
    border-radius: 50%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #ffffff;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
    transition: border-radius 0.3s;
}

.side-bar-icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.side-bar-icon::before {
    content: '';
    width: 0px;
    height: 0px;
    background-color: #f7f3e9;
    position: absolute;
    left: -10px;
    top: 14px;
    border-radius: 0 4px 4px 0;
    transition: width 0.3s, height 0.3s;
}

.side-bar-icon:hover {
    border-radius: 30%;
}

.side-bar-icon:hover::before {
    width: 5px;
    height: 21px;
}

.side-bar-icon span,
.current-project-icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.current-project-icon {
    border-radius: 30%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #ffffff;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
}

.current-project-icon::before {
    content: '';
    width: 5px;
    height: 42px;
    background-color: #f7f3e9;
    position: absolute;
    left: -10px;
    top: 4px;
    border-radius: 0 4px 4px 0;
}

.side-bar-icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* +- provisório, só serve para mostrar que são favs até se arranjar uma solução melhor */
#favorite-projects .side-bar-icon {
    color: #d6c407;
}

li.separator {
    height: 5px;
    border-radius: 3px;
    background-color: #555;
    margin: 10px 0;
    list-style: none;
}

#project-member-header {
    margin-bottom: 0px;
    display: inline-flex;
}

#project-member-header p {
    margin-bottom: 10px;
}

#invite-members-activate {
    margin-left: 10px;
    padding-top: 3px;
    font-size: 13px;
    color: #fff;
}

.context-menu {
    position: absolute;
    background-color: #2c3e50;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #34495e;
    z-index: 100;
    display: none;
    border-radius: 8px;
    /* max-height: 200px; */
}

.context-menu-item {
    padding: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 1px solid #34495e;
    max-height: 38px;
}

.context-menu-item:last-child {
    border-bottom: none;
}

.context-menu-item:hover {
    background-color: #2e4053;
}

.context-menu-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.context-menu-item a.text-button {
    text-align: left;
    color: #fff;
    /* background-color: #e74c3c; */
    /* border: 1px solid #c0392b; */
    padding: 4px 12px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.context-menu-item a.critical-button {
    color: #ff0000;
    /* background-color: #e74c3c; */
    /* border: 1px solid #c0392b; */
    padding: 4px 12px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.context-menu-item a.critical-button:hover {
    background-color: #c0392b;
    color: #fff;
}

.context-menu-item .text-button:hover {
    background-color: #2159a8;
}

#invite-members-activate:hover {
    cursor: pointer;
}

div.user-list-card span {
    color: #f7f3e9;
}

.user-list-card .user-profile-image img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
