/* Updated task.css */

.task-profile {
    background-color: #006aa7;
    color: #f7f3e9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 106, 167, 0.8); 
    width: 70%;
    max-width: 600px;
    margin: 50px auto;
}

.task-header {
    background-color: #172b4d; 
    border-radius: 8px; 
    padding: 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: -1px;
}

.task-header h1 {
    font-size: 24px;
    color: #f7f3e9; 
}

.task-header a{
    color: #f7f3e9; 

}

.task-status {
    font-size: 18px;
    color: #f7f3e9; 
}

.task-details {
    margin-bottom: 20px;
}

.task-info {
    margin: 10px 0;
}

.task-info p {
    margin: 10px 0;
}

.assigned-members {
    margin-bottom: 20px;
}

.assigned-members ul {
    list-style: none;
    padding: 0;
}

.info-label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: start;
}

.task-actions {
    text-align: center;
    margin-top: 20px;
}

.edit-button,
.delete-button {
    background-color: #f7f3e9;
    color: #172b4d;
    padding: 10px 20px;
    border: 2px solid #172b4d;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s ease, border 0.3s, box-shadow 0.3s;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #006aa7;
    color: #f7f3e9;
    border-color: #006aa7;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 106, 167, 0.2);
}

.edit-task{
    text-align: start;
}

.project-member-list span{
    color: #f7f3e9;
}

.assigned-members .user_list_task span{
    color: #f7f3e9;
}

.project-form {
    resize: both;
}

textarea.task_description {
    background-color: #f7f3e9;width: 300px;height: 125px; resize: none;
}

.backButton a{
    color: #f7f3e9;
}

.task-title-div{
    display: flex;
    align-items: center;
}

.backButton {
    margin-right: 5px;
    margin-bottom: 4px;
}

#toggle_task_edit, #submit-create-comment, #editPost, #deletePost, #toggle_comment_edit{
    color: #f7f3e9;
    background-color: #172b4d;
}

#toggle_task_edit:hover, #submit-create-comment:hover, #editPost:hover, #deletePost:hover, #toggle_comment_edit:hover{
    transform: scale(1.05);
}

.task_description_area, .post-form, .comment_creator{
    background-color: #f7f3e9;
}

.project-form-input{
    background-color: #f7f3e9;
    color: #172b4d;
}

.member-container{
    display: flex;
    margin-bottom: -30px;
}

.delete-button-user{
    margin-top: -2vh;
    padding: 5px;
}

.commentCard{
    background-color: #003366;
    padding: 10px;
    word-wrap: break-word;
    margin-bottom: 15px;
    border: 2px solid #172b4d;
    border-radius: 4px;
}

.commentHeader{
    display: flex;
}

.commentHeader p{
    margin-right: 10px;
}

.editComment #editPost, #deletePost, #toggle_comment_edit{
    background-color: #006aa7;
}

.editComment{
    margin-bottom: -30px;
}

#task-container {
    display: grid;
    grid-template-columns: auto auto auto; /* sidebar width and remaining width */
    /* grid-template-rows: 1; */
    grid-template-areas: "todo doing done";
    /* min-height: 100vh; */
    /* height: calc(100vh - 96px); */ /* subtract the height of the header (disabled for now because project page stil takes more space) */
    /* for now using min-height but goal is to use just height */
    /* min-height: calc(100vh - 96px); */
    /* margin: 0; */
    margin-bottom: 40px;
}

@media (max-width: 1499px) {
    #task-container {
        grid-template-columns: auto auto; /* Two columns */
        grid-template-rows: auto auto; /* Two rows */
        grid-template-areas:
            "todo doing"
            "done done";
        margin-bottom: 40px;
        row-gap: 50px;
    }

    section#project {
        max-height: calc(100vh - 96px);

        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: #999 transparent;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #999;
            border: 4px;
            border-radius: 50px;
            background-clip: padding-box;  
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
}

@media (max-width: 1230px) {
    #task-container {
        grid-template-columns: auto; /* Change to a single column layout */
        grid-template-rows: auto auto auto; /* Rows instead of columns */
        grid-template-areas:
            "todo"
            "doing"
            "done";
    }
}


div#tasks-todo-container {
    height: auto;
    grid-area: "todo";
}

div#tasks-doing-container {
    height: auto;
    grid-area: "doing";
}

div#tasks-done-container {
    height: auto;
    grid-area: "done";
}

.task-list-container {
    background-color: #172b4d;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    width: 350px;
    height: 100%;
    border-radius: 20px;
    transition: margin 0.3s ease;
}

@media (min-width: 1670px) {
    .task-list-container {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 1669px) and (min-width: 1500px) {
    .task-list-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.task-list-container > h3 {
    color: #f7f3e9;
    margin-bottom: 20px;
    margin-top: 10px;
}

.task-list-inner-container {
    height: 570px;
}

.task-list {
    list-style: none;
}

#addTaskButton {
    margin-top: 10px;
    color: #f7f3e9;
    font-size: 24px;
}

.task-card-search {
    background-color: #f7f3e9;
    color: #172b4d;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 24px 48px rgba(23, 43, 77, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    min-width: 250px;
    /* max-width: 400px;  */
    cursor: pointer;
}

.task-card-search:first-child {
    margin-top: 0px;
}

.task-card-search:hover {
    box-shadow: 0 16px 32px rgba(23, 43, 77, 0.2);
    transform: scale(1.015);
}

h3.task-card-search {
    margin-bottom: 10px;
}

.task-card-search p {
    margin-bottom: 8px;
}

#taskPreviewTitle {
    font-size: 20px;
}
